@model  IEnumerable<LaTuerca.Models.Menu>

@{
    Layout = null;
}



            <ul class="nav navbar-nav">
                @foreach (var item in Model)
                {
                    if (item.Action != null && item.Controller != null && item.Action != "" && item.Controller != "" && item.ParentId == 0)
                    {
                        <li>@Html.ActionLink(item.Name, item.Action, item.Controller)</li>
                    }
                    else
                    {
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.DisplayFor(model => item.Name) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var subitem in item.Children())
                                {
                                    var nodes = subitem.Children();
                                    if (nodes.Count() > 0)
                                    {
                                        <li class="menu-item dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.DisplayFor(model => subitem.Name) <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @foreach (var node in nodes)
                                                {
                                                    <li class="menu-item">@Html.ActionLink(node.Name, node.Action, node.Controller)</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                            else
                                    {
                                        <li>@Html.ActionLink(subitem.Name, subitem.Action, subitem.Controller)</li>
                                    }


                                }







                            </ul>
                        </li>
                    }

                }



                            </ul>
    




